
@{
    ViewBag.Title = "Index2";
}

<style>
    #rcorners1 {
        border-radius: 25px;
        background: #00ffff;
        padding: 10px;
        margin-top: 20px;
        width: 600px;
        height: 75px;
        font-style: italic;
    }
</style>

<center>
    <div id="rcorners1" style="border:solid;"><h1>Core Lab Schedule Manager v 0.8</h1></div>
</center>
<div class="row">
    <div class="col-md-3">
        <h2>Employees</h2>
        <ul>
            <li>View</li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Schedules</h2>
        <ul>
            <li>View</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Benches</h2>
        <ul>
            <li>View</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Other</h2>
        <ul></ul>
    </div>
</div>

