
@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

<div id='calendar'>

</div>

<link href="~/Content/fullcalendar.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.11.3.js"></script>

<script src="http://fullcalendar.io/js/fullcalendar-2.5.0/lib/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            displayEventEnd: {
                month: false,
                basicWeek: true,
                "default": true
            },
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            defaultDate: '2015-12-12',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
				{
				    title: 'All Day Eventx',
				    start: '2015-12-01',
				    allDay: false,
				    start: '2015-12-09T16:00:00',
				    end: '2015-12-09T16:30:00'
				},
                {
                    title: 'Ajnjnjentx',
                    start: '2015-12-01',
                    allDay: false,
                    start: '2015-12-09T16:00:00',
                    end: '2015-12-09T16:30:00'
                },
				{
				    title: 'Long Event',
				    start: '2015-12-07',
				    end: '2015-12-10'
				},
				{
				    id: 999,
				    title: 'Repeating Event',
				    start: '2015-12-09T16:00:00'
				},
				{
				    id: 999,
				    title: 'Repeating Event',
				    start: '2015-12-16T16:00:00'
				},
				{
				    title: 'Conference',
				    start: '2015-12-11',
				    end: '2015-12-13'
				},
				{
				    title: 'Meeting',
				    start: '2015-12-12T10:30:00',
				    end: '2015-12-12T12:30:00'
				},
				{
				    title: 'Lunch',
				    start: '2015-12-12T12:00:00'
				},
				{
				    title: 'Meeting',
				    start: '2015-12-12T14:30:00'
				},
				{
				    title: 'Happy Hour',
				    start: '2015-12-12T17:30:00'
				},
				{
				    title: 'Dinner',
				    start: '2015-12-12T20:00:00'
				},
				{
				    title: 'Birthday Party',
				    start: '2015-12-13T07:00:00'
				},
				{
				    title: 'Click for Google',
				    url: 'http://google.com/',
				    start: '2015-12-28'
				}
            ]
        });

    });


</script>

