@*@model IEnumerable<LabScheduler2.Domain.ScheduleBlock>

@{
    ViewBag.Title = "Index";
}
<style>
    /*td,th{
        width:130px;
    }*/
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


<script src="~/Scripts/jquery-1.11.3.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>

<script>

    var title;

    $(document).ready(function () {
        $('.headingClick').click(function () {
            title = $(this).attr('title');
            alert(title);
            //$("#divQualifiedEmployees").attr('title', title + ' ' + 'Qualified Employees').dialog();

            $.ajax({
                url: 'Qualifications/GetQualifiedEmployeesTable',
                data: 'bench=' + $(this).attr('title'),
                success: ShowQualifiedEmployees,
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status == 404) {
                        ShowError('LabManger Server Failed To Respond');
                    }
                    else
                    {
                        ShowError(xhr.status.toString());
                    }
                },
                cache:false

            });

            
           
        });
    })
    function ShowError(errorMessage)
    {
        $("#divError").attr('title', 'Server Error');
        $("#divError").html(errorMessage);
        $("#divError").dialog({
            modal: true,
            autoOpen: true

        });
    }
    function ShowQualifiedEmployees(data)
    {
      //  alert(data);
        $("#divQualifiedEmployees").html(data);
        $("#divQualifiedEmployees").attr('title', title +' Qualified Employees').dialog();
        $('#divQualifiedEmployees').dialog({
            modal: false,
            autoOpen: true,
            close: CleanUpQualifiedEmployeesDiv
           
        });
    }

    function CleanUpQualifiedEmployeesDiv()
    {
       
        $("#divQualifiedEmployees").html('');
        $("#divQualifiedEmployees").dialog('destroy');
        title = null;
        
       
    }


    //function ShowQualifiedEmployees()
    //{
    //    $('#divQualifiedEmployees').dialog({
    //        modal: true,
    //        autoOpen: true


    //    });
    //}

</script>

<div id="divQualifiedEmployees" style="display:none">

</div>

<div id="divError" style="display:none">

</div>


<h2>Scheduling Portal</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed table-striped">
    <tr>
        <th>          

            @* @Html.Lab(Model.Hour.Month.ToString()) *@
        </th>
        <th class="headingClick classVistaHeading" title="Vista">Vista</th>
        @*<th class="headingClick classSerology" title="Serology">Serology</th>*@
        <th class="headingClick classUA" title="UA">UA</th>
        <th class="headingClick classCoag" title="Coag">Coag</th>
        @*<th class="headingClick classHem1" title="Hem1">Hem 1</th>*@
        @*<th class="headingClick" title="Stools">Stools</th>*@
        @*<th class="headingClick" title="DSX">DSX</th>*@
        <th class="headingClick" title="Variant">Variant</th>
        <th class="headingClick" title="Centaur">Centaur</th>
        @*<th class="headingClick" title="USR">USR</th>*@
        <th class="headingClick" title="Sypigg">Sypigg</th>
        <th class="headingClick" title="Diffs">Diff</th>
        @*<th class="headingClick" title="Hem2">Hem 2</th>*@
        <th class="headingClick" title="Sysmex">Sysmex</th>
        <th class="headingClick" title="IFOB">IFOB</th>
        @*<th class="headingClick" title="Architect">Architect</th>*@
        <th class="headingClick" title="ESR">ESR</th>
        <th class="headingClick" title="VITD">VIT D</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
    
           
                    @Html.Label(item.Hour.Month.ToString() + "/" + item.Hour.Day + "/" + item.Hour.Year.ToString() + " " + item.Hour.DayOfWeek.ToString() + " - " + item.Hour.Hour.ToString())
     
        </td>
        <td></td>
        <td style="background-color:aquamarine">MG</td>

        <td>HD</td>
        <td style="background-color:crimson"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    
      
     
      

    </tr>
}

</table>*@
